* {
  padding: 0;
  margin: 0;
}

.dis-hero-sec-course {
  display: none;
  max-width: 323px;
  position: relative;
  background-color: #FFF;
  margin: 100px auto;
}
.dis-hero-sec-course a {
  text-decoration: none;
}
.dis-hero-sec-course img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.dis-hero-sec-course .dis-hero-course-contents {
  padding: 30px 20px 20px;
  position: relative;
  z-index: 1;
}
.dis-hero-sec-course .dis-hero-course-contents::after {
  content: "";
  position: absolute;
  z-index: 1;
  border-top: 40px solid #FFF;
  border-left: 320px solid transparent;
  width: 100%;
  top: 99%;
  left: 0;
}
.dis-hero-sec-course .dis-hero-course-contents h6.course-category {
  background-color: #0071dc;
  padding: 5px 20px;
  display: inline-block;
  color: #ffffff;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
}
.dis-hero-sec-course .dis-hero-course-contents h5.course-published-date {
  color: #767575;
  margin: 11px 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.dis-hero-sec-course .dis-hero-course-contents h2.course-card-title {
  font-family: "Jost", Sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 10px;
  color: #161616;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 67px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.dis-hero-sec-course .dis-hero-course-contents p.course-card-excerpt {
  color: #6b6b6b;
  margin: 11px 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 41px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.dis-instructor-info {
  display: none;
  overflow: hidden;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
  background-color: #d05454;
  margin: 9px;
  padding: 20px 10px;
  border-radius: 0 0 15px 15px;
}
.dis-instructor-info::before {
  content: "";
  height: 1025px;
  width: 1025px;
  background-color: #0071dc;
  border-radius: 50%;
  position: absolute;
  top: 70%;
  left: 75%;
  z-index: -1;
  transition: all 0.4s cubic-bezier(0.3, 0.02, 0, 0.6);
}
.dis-instructor-info:hover::before {
  top: -75%;
  left: -45%;
}
.dis-instructor-info:hover h3 a {
  color: #FFF;
}
.dis-instructor-info:hover h3 a:hover {
  color: #aeaeae;
}
.dis-instructor-info:hover h6 {
  color: #FFF;
}
.dis-instructor-info:hover p.dis-instructor-socials i {
  color: #FFF;
}
.dis-instructor-info:hover p.dis-instructor-socials i:hover {
  color: #aeaeae;
}
.dis-instructor-info a {
  text-decoration: none;
}
.dis-instructor-info h3 {
  margin: 0;
}
.dis-instructor-info h3 a {
  font-family: "Jost", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  color: #161616;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.dis-instructor-info h6 {
  margin: 0 0 5px 0;
  font-family: "Jost", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #585858;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.dis-instructor-info p.dis-instructor-socials {
  margin-top: 15px;
}
.dis-instructor-info p.dis-instructor-socials i {
  margin-left: 11px;
  color: #aeaeae;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}

.dis-big-instructor-info {
  display: none;
  text-align: right;
  border-radius: 0 0 45px 0 !important;
  -webkit-border-radius: 0 0 45px 0 !important;
  -moz-border-radius: 0 0 45px 0 !important;
  -ms-border-radius: 0 0 45px 0 !important;
  -o-border-radius: 0 0 45px 0 !important;
}

.dis-course-card {
  max-width: 375px;
  padding: 15px;
  margin-top: 40px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.08);
  background-color: #FFF;
  border-radius: 4px;
  position: relative;
}
.dis-course-card:hover {
  overflow: hidden;
}
.dis-course-card:hover .dis-course-card-hover-contents {
  height: 100%;
}
.dis-course-card .dis-course-card-normal-contents img {
  margin-top: -35px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}
.dis-course-card .dis-course-card-normal-contents h6.dis-course-category {
  margin: 21px 0 7px 0;
}
.dis-course-card .dis-course-card-normal-contents h6.dis-course-category a {
  font-family: "Jost", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  color: #f013a5;
  padding-left: 10px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 15px;
}
.dis-course-card .dis-course-card-normal-contents h6.dis-course-category a::before {
  position: absolute;
  z-index: 1;
  content: "";
  background-color: #f013a5;
  height: 1px;
  width: 5px;
  top: 50%;
  left: 0;
  line-height: 1.2;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.dis-course-card .dis-course-card-normal-contents h3.dis-course-title {
  margin: 5px 0;
  height: 75px;
}
.dis-course-card .dis-course-card-normal-contents h3.dis-course-title a {
  color: #161616;
  text-decoration: none;
  font-family: "Jost", sans-serif;
  line-height: 1.4;
  font-size: 24px;
  font-weight: 500;
  overflow: hidden;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.dis-course-card .dis-course-card-normal-contents h3.dis-course-title a:hover {
  text-decoration: underline;
}
.dis-course-card .dis-course-card-normal-contents h4.dis-course-author {
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #0071dc;
  margin-bottom: 18px;
}
.dis-course-card .dis-course-card-normal-contents ul.dis-course-features {
  padding: 0;
}
.dis-course-card .dis-course-card-normal-contents ul.dis-course-features li {
  display: inline-block;
  list-style-type: none;
  margin-right: 30px;
  font-size: 15px;
  color: #6b6b6b;
  padding: 0;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.dis-course-card .dis-course-card-normal-contents ul.dis-course-features li i {
  font-size: 15px;
  font-weight: 600;
  margin-right: 9px;
}
.dis-course-card .dis-course-card-normal-contents .dis-course-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d0d1d2;
  padding: 25px 0 15px 0;
  margin-top: 25px;
}
.dis-course-card .dis-course-card-normal-contents .dis-course-card-footer p.dis-course-fee {
  color: #161616;
  font-size: 20px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.dis-course-card .dis-course-card-normal-contents .dis-course-card-footer ul.dis-course-ratings {
  padding: 0;
}
.dis-course-card .dis-course-card-normal-contents .dis-course-card-footer ul.dis-course-ratings li {
  padding: 0;
  display: inline-block;
  list-style-type: none;
}
.dis-course-card .dis-course-card-normal-contents .dis-course-card-footer ul.dis-course-ratings li.dis-course-ratings-stars {
  color: #ED9700;
  margin-left: 3px;
}
.dis-course-card .dis-course-card-normal-contents .dis-course-card-footer ul.dis-course-ratings li.dis-course-ratings-count {
  margin-left: 15px;
  font-size: 15px;
  color: #6b6b6b;
  padding: 0;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.dis-course-card .dis-course-card-hover-contents {
  overflow: hidden;
  background-color: #0071DC;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 0%;
  transition: height linear 0.3s;
  -webkit-transition: height linear 0.3s;
  -moz-transition: height linear 0.3s;
  -ms-transition: height linear 0.3s;
  -o-transition: height linear 0.3s;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner {
  padding: 15px;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner .dis-course-wishlist {
  display: flex;
  justify-content: end;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner .dis-course-wishlist a {
  text-decoration: none;
  height: 50px;
  width: 50px;
  font-size: 20px;
  color: #ffffff;
  background-color: #f4245f;
  border: 1px solid #f4245f;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner .dis-course-wishlist a:hover {
  background-color: transparent;
  border: 1px solid #FFF;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner h6.dis-course-category {
  margin: 15px 0 7px 0;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner h6.dis-course-category a {
  font-family: "Jost", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  color: #FFF;
  padding-left: 10px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 15px;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner h6.dis-course-category a::before {
  position: absolute;
  z-index: 1;
  content: "";
  background-color: #FFF;
  height: 1px;
  width: 5px;
  top: 50%;
  left: 0;
  line-height: 1.2;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner h3.dis-course-title {
  margin: 5px 0;
  height: 75px;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner h3.dis-course-title a {
  color: #FFF;
  text-decoration: none;
  font-family: "Jost", sans-serif;
  line-height: 1.4;
  font-size: 24px;
  font-weight: 500;
  overflow: hidden;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner h3.dis-course-title a:hover {
  text-decoration: underline;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner ul.dis-course-author-and-ratings {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner ul.dis-course-author-and-ratings li {
  padding: 0;
  display: inline-block;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner ul.dis-course-author-and-ratings li.dis-course-author {
  display: flex;
  gap: 11px;
  align-items: center;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner ul.dis-course-author-and-ratings li.dis-course-author .dis-course-author-img {
  display: inline-flex;
  flex-shrink: 0;
  height: 35px;
  width: 35px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 0px 1px var(--tutor-border-color);
  border-radius: 100px;
  overflow: hidden;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner ul.dis-course-author-and-ratings li.dis-course-author .dis-course-author-img img {
  border-radius: 50%;
  max-width: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner ul.dis-course-author-and-ratings li.dis-course-author h4.dis-course-author-name {
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #FFF;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner ul.dis-course-author-and-ratings li.dis-course-ratings {
  padding: 0;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner ul.dis-course-author-and-ratings li.dis-course-ratings ul {
  padding: 0;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner ul.dis-course-author-and-ratings li.dis-course-ratings ul li {
  padding: 0;
  display: inline-block;
  list-style-type: none;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner ul.dis-course-author-and-ratings li.dis-course-ratings ul li.dis-course-ratings-stars {
  color: #ED9700;
  margin-left: 3px;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner ul.dis-course-author-and-ratings li.dis-course-ratings ul li.dis-course-ratings-count {
  margin-left: 15px;
  font-size: 15px;
  color: #FFF;
  padding: 0;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner p.dis-course-details {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 15px;
  margin: 17px 35px 17px 0;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner ul.dis-course-features {
  padding: 0;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner ul.dis-course-features li {
  display: inline-block;
  list-style-type: none;
  margin-right: 30px;
  font-size: 15px;
  color: #FFF;
  padding: 0;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner ul.dis-course-features li i {
  font-size: 15px;
  font-weight: 600;
  margin-right: 9px;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner .dis-course-card-footer {
  padding-top: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner .dis-course-card-footer a.dis-course-btn {
  text-decoration: none;
  display: inline-block;
  font-family: "Jost", sans-serif;
  background-color: #ffffff;
  color: #0071DC;
  padding: 7px 25px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #ffffff;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner .dis-course-card-footer a.dis-course-btn:hover {
  color: #fff;
  background-color: #0071DC;
}
.dis-course-card .dis-course-card-hover-contents .dis-course-card-hover-contents-inner .dis-course-card-footer p.dis-course-fee {
  color: #FFFFFF;
  font-size: 20px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}

.dis-course-all-course-box {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.08);
  min-height: 490px;
  padding: 38px;
  margin-top: 0;
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: #ffffff;
  border-width: 2px;
  border-style: dashed;
  border-color: #c1c1c1;
}
.dis-course-all-course-box h2 {
  color: #161616;
  font-family: "Jost", Sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}
.dis-course-all-course-box a {
  font-family: "Jost", Sans-serif;
  color: #ffffff;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  background-color: #0071DC;
  border: 1px solid #0071DC;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.dis-course-all-course-box a:hover {
  color: #0071DC;
  background-color: transparent;
}/*# sourceMappingURL=style.css.map */